/* style.cc for simple interest calculator*/
body 
{
    background-color: #000000;
    color: #ffffff;
    font-family: sans-serif;
}

h1
{
    color: grey;
    font-family: cursive;
}

.maindiv
{
    background-color: #ffffff;
    color: #000000;
    width: 500px;
    padding: 20px;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    
}


.contents
{
    margin-left: 80px;
}

table td
{
    padding-bottom: 10px;
}

#compute
{
    margin-bottom: 10px;
    background-color: grey;
    color: white;
    height: 40px;
    width: 130px;
}
#principal{
    height: 25px;
    width: 190px;
}

#years{
    height: 35px;
    width: 200px;
}

#footer
{
    margin-top: 10px;
}

.labels
{
    width: 120px;
}

.highlight
{
    background-color: #ffff00;
}